<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% @brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :brewery_name %><br>
    <%= f.text_field :brewery_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_description %><br>
    <%= f.text_field :brewery_description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_street %><br>
    <%= f.text_field :brewery_street, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_city %><br>
    <%= f.text_field :brewery_city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_state %><br>
    <%= f.text_field :brewery_state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_zip %><br>
    <%= f.text_field :brewery_zip, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_phone %><br>
    <%= f.text_field :brewery_phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :brewery_www %><br>
    <%= f.text_field :brewery_www, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :brewery_yelplink %><br>
    <%= f.text_field :brewery_yelplink, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :brewery_fblink %><br>
    <%= f.text_field :brewery_fblink, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= f.label :brewery_instalink %><br>
    <%= f.text_field :brewery_instalink, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :brewery_shortdescription %><br>
    <%= f.text_area :brewery_shortdescription, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label :tasting %>
    <%= f.check_box :tasting, class: "form-control" %>
  </div>

  
  <div class="actions">
    <%= f.submit class: "btn btn-danger" %>
  </div>
<% end %>
