<h1>Listing breweries</h1>
  <div id="breweries" class="transitions-enabled">
  <% @breweries.each do |brewery| %>
    <div class="box panel panel-default">
      <%= image_tag brewery.image.url(:medium) %>
      <div class="panel-body">
        <%= brewery.brewery_name %><br />
        <%= brewery.brewery_description %><br />
      Created By: <%= brewery.user.try(:email) %><br />
      <%= brewery.brewery_shortdescription %> <br /> 
      <%= brewery.brewery_www %> <br />
        <%= link_to 'Show', brewery_path(brewery) %><br />
        <%= brewery.brewery_phone %> <br />
        <%= brewery.brewery_zip %> <br />
        <%= brewery.brewery_state %><br />
        <%= brewery.brewery_city %><br />
        <%= brewery.brewery_street %> <br />

        <% if brewery.user == current_user %>
          <%= link_to 'Edit', edit_brewery_path(brewery) %>
          <%= link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>







<br>

<%= link_to 'New Brewery', new_brewery_path %>
