Number of Breweries Listed:  <%= Brewery.count %> Number of Brewery Views:  <%= View.count %>
<% if user_signed_in? %>
<center><%= link_to 'Add a New Brewery', new_brewery_path %>
<% end %><br />

          <%= form_tag breweries_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search For a Brewery", :brewery_name => nil %>
            </p>
          <% end %>

<!-- Google Adsense  -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mmmBrew 728x90 Header -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6273954436598309"
     data-ad-slot="9329566440"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


</center>

  <div id="breweries" class="transitions-enabled">
  <% @breweries.each do |brewery| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(brewery.image.url(:medium)), brewery %>
      <div class="panel-body">
        <strong><%= link_to brewery.brewery_name, brewery_path(brewery) %></strong><br />
        <%= brewery.brewery_description %><br />
        <%= brewery.brewery_street %> <br />
        <%= brewery.brewery_city %>, <%= brewery.brewery_state %>, <%= brewery.brewery_zip %><br />
        <span class="glyphicon glyphicon-phone"></span>
        <%= brewery.brewery_phone %> <br />
      <span class="glyphicon glyphicon-cloud-upload"></span>
      <%= link_to "Visit Brewery Website", brewery.brewery_www %><br />
       <span class="glyphicon glyphicon-search"></span>
      <%= link_to 'View Brewery Details', brewery_path(brewery) %><br />
      <%= link_to "Menu Link", brewery.brewery_menulink %> <br /> 
      <%= link_to "Yelp Link", brewery.brewery_yelplink %><br />
      <%= link_to "Facebook Link", brewery.brewery_fblink %><br />
      <%= link_to "Instagram Link", brewery.brewery_instalink %> <br /> 
      Food Available:<%= human_boolean(brewery.brewery_food) %> <br />
      Tasting Available:<%= human_boolean(brewery.tasting) %> <br />
      Brewery Views: <%= brewery.view %> <br />
      Brewery Added By: <%= brewery.user.try(:name) %><br />
 <%= link_to 'Delete', brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if brewery.user == current_user %>
          <%= link_to 'Edit', edit_brewery_path(brewery) %>
         
        <% end %>
      </div>
    </div>
  <% end %>
</div>











