
<% if user_signed_in? %>
<center><%= link_to 'Add a New Brewery', new_brewery_path %>
<% end %><br />

          <%= form_tag breweries_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :brewery_name => nil %>
            </p>
          <% end %>


</center>

  <div id="breweries" class="transitions-enabled">
  <% @breweries.each do |brewery| %>
    <div class="box panel panel-default">
      <%= image_tag brewery.image.url(:medium) %>
      <div class="panel-body">
        <strong><%= brewery.brewery_name %></strong><br />
        <%= brewery.brewery_street %> <br />
        <%= brewery.brewery_city %>, <%= brewery.brewery_state %>, <%= brewery.brewery_zip %><br />
        <span class="glyphicon glyphicon-phone"></span>
        <%= brewery.brewery_phone %> <br />
        <%= brewery.brewery_description %><br />
        Hours: <%= brewery.brewery_hours %> <br /> 
        Views: <%= brewery.view %> <br /> 
        Food:<%= human_boolean(brewery.brewery_food) %> <br />
        <%= link_to "Menu", brewery.brewery_menulink %> <br /> 
        <%= link_to "Yelp", brewery.brewery_yelplink %> |
        <%= link_to "Facebook", brewery.brewery_fblink %> |
        <%= link_to "Instagram", brewery.brewery_instalink %> <br /> 
      <%= brewery.brewery_shortdescription %> <br /> 
      <%= link_to "Website", brewery.brewery_www %> | <%= link_to 'See More...', brewery_path(brewery) %><br />

      Tasting:<%= human_boolean(brewery.tasting) %> <br />
      
        Created By: <%= brewery.user.try(:name) %><br />
 <%= link_to 'Delete', brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if brewery.user == current_user %>
          <%= link_to 'Edit', edit_brewery_path(brewery) %>
         
        <% end %>
      </div>
    </div>
  <% end %>
</div>








