<p id="notice"><%= notice %></p>

<p>

<center> <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mmmbrew 728x90 view header -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6273954436598309"
     data-ad-slot="9169299246"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @brewery.brewery_name %></h3>
  </div>
  <div class="panel-body">
  <br />
  <%= image_tag @brewery.image.url(:medium) %>

</p>

<p>
  <%= @brewery.brewery_description %>
</p>

<p>
  <%= @brewery.brewery_street %><br />
   <%= @brewery.brewery_city %>, <%= @brewery.brewery_state %> <%= @brewery.brewery_zip %>
</p>

<p>
  <span class="glyphicon glyphicon-phone"></span> <%= @brewery.brewery_phone %>
</p>

<p>
  <span class="glyphicon glyphicon-cloud-upload"></span>
  <%= link_to "Website", @brewery.brewery_www %>
</p>

<p>
<br/> Created By: <%= @brewery.user.try(:email) %> 
</p>   

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>

  </div><!-- panel body div --> 
</div>







