<!DOCTYPE html>
<html>
<head>
  <title>mmmBrew | Local Craft Beers Brewed Fresh Daily</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	   <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag("https://s3.amazonaws.com/mmmbrew/images/mmmbrew.png"), root_path %>
    <%= link_to "Breweries", breweries_path, class: "btn btn-default navbar-btn" %>
  </div>
</nav>

<div class="container">
<%= yield %>

           <!-- Site footer -->
      <br />
      <div class="footer">
          <% if user_signed_in? %>
          <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span> Your Account
            <% end %>
          Im signed in

          <% end %>


        <p align="right" class="footertext">
          

          <span class="glyphicon glyphicon-flag"></span> Made in Encinitas, CA. 
          &copy; 2014 Nalu Media, All Rights Reserved 

           </div> <!-- end footer -->
      
      </div>


 



</body>
</html>
